/*
* 44355b
* 31263E
* 221E22
* ECA72C
* EE5622
2d3142
4F5D75
BFC0C0
E15554
EF8354
*/

@font-face {
    font-family: "Aktura";
    src: url('assets/Aktura-Regular.otf');
}

@font-face {
    font-family: "Literata";
    src: url('assets/Literata-Variable.ttf');
}

@font-face {
    font-family: "Romvel";
    src: url('assets/Romvel.ttf') format("ttf");
}

body, html {
    font-family: 'Literata', sans-serif;
    font-weight: 500;
    background-color: #000;
    margin: 0%;
    height: 100%;
}

.container {
    display: flex;
}

.lang {
    font-size: 'Literata', serif;
    font-weight: 100;
    border: none;
    background-color: transparent;
    font-size: 30px;
    display: flex;
    height: 100%;
}

.link {
    text-decoration: none;
    display: grid;
}

#space {
    white-space: pre-line;
    font-size: 20px;
}

#titlebg {
    background-image: url(assets/background2.png);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#title {
    font-family: 'Aktura', 'Romvel', serif;
    font-size: 72px;
    color: #000;
	text-align: center;
}

#lang {
    font-size: 'Literata', serif;
    font-weight: 300;
    position: absolute;
}

#body {
    font-family: 'Literata', serif;
    text-align: left;
    font-size: 30px;
    background-color: #cdecf8;
    padding: 2%;
    margin: 0%;
    height: auto;
}
